.header {
  width: 100%;
  height:auto;
  position:relative;
  z-index: 99;
}


.main-dashboard {
background-repeat: no-repeat;
background-size: cover;
height: 100%;
width:100%;
position: absolute;
}

.main-dashboard {
display: grid;
grid-template-columns: 10.5em 1fr; /* Sidebar takes auto width, content takes the remaining space */
grid-template-rows: auto 1fr; /* Header takes auto height, body takes the remaining space */
grid-template-areas:
  "sidebar content"
  "sidebar content";
/* height: 100%; Set the height to fill the viewport */
}

.body-trimmed {
width: calc(100% - 9em);
margin-left: 9em;
}

.body-md-screen {
width: calc(100% - 5.9em);
margin-left: 5.9em;
}

.sidebar {
grid-area: sidebar;
/* Style for the sidebar */
}

.content {
grid-area: content;
display: grid;
grid-template-rows: auto 1fr; /* Header takes auto height, body takes the remaining space */
grid-template-areas:
  "header"
  "body";
transition: all 0.5s ease;
}

.header {
grid-area: header;
width: 100%;
height: auto;
position: relative;
z-index: 99;
/* padding: 1em 1em; */
color: #ffffff;
}

.footer {
  flex-shrink: 0;
  }

.body {
  grid-area: body;
  height: 100%;
  width: 90%;
  overflow-y: auto;
  display: flex;
  align-items: baseline;
  position: relative;
  left: 10%;
}

::ng-deep .mat-body, .mat-body-2, .mat-typography .mat-body, .mat-typography .mat-body-2, .mat-typography {
font: 400 1em Roboto, sans-serif !important;
letter-spacing: normal !important;
}

::ng-deep .mat-body p, .mat-body-2 p, .mat-typography .mat-body p, .mat-typography .mat-body-2 p, .mat-typography p {
  margin: 1em 0 !important;
}


