<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
  <div class="logo-container">
    <img class="logo-display" src="../../../assets/EITSI Inc. 1563x1563.png" alt="logo" height="99px" width="104px">
  </div>

  <div class="sidenav-display">
    <div>
      <ul class="sidenav-nav">
        <ng-container *ngFor="let data of nav">
          <li class="sidenav-nav-item">
            <a class="sidenav-nav-link"
               *ngIf="data.routeLink !== '/login'"
               [routerLink]="[data.routeLink]"
               routerLinkActive="active-link"
               [routerLinkActiveOptions]="{exact: true}">
              <i class="sidenav-link-icon" [ngClass]="data.icon"></i>
              <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{ data.label }}</span>
            </a>
            <a class="sidenav-nav-link"
               *ngIf="data.routeLink === '/login'"
               (click)="show()">
              <i class="sidenav-link-icon" [ngClass]="data.icon"></i>
              <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{ data.label }}</span>
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="sidebar-profil">
      <div class="sidebar-avatar"></div>
    </div>
  </div>
</div>
