<div class="container">

  <div class="left-container">
      <div class="image-container">
          <img src="../assets/EITSI Inc. 1563x1563.png" alt="SpeedyBarakoLogo" class="speedyb-logo">
      </div>
  </div>

<div class="right-container">
  <div class="login-form">
      <h1>Student Information System</h1>
      <h2 class="h1-style">CHANGE PASSWORD</h2>
      <p-toast></p-toast>

      <form (ngSubmit)="form" #form="ngForm">

    <div class="card-flex justify-content-center">
      <div class="flex flex-column gap-2">
          <label for="username">New Password</label>
          <input pTooltip="Enter your new password"
                 tooltipPosition="top"
                 tooltipEvent="focus"
                 p aria-describedby="username-help"
                 pInputText type="password"
                 id="username"
                 name="username"
                 [toggleMask]="true"
                 ngModel [(ngModel)]="password"
                 required>
      </div>

      <div class="flex flex-column gap-2">
        <label for="password">Confirm Password</label>
        <div class="password-container">
          <input pTooltip="Confirm Password"
                 tooltipPosition="top"
                 tooltipEvent="focus"
                 pInputText type="password"
                 [toggleMask]="true"
                 id="password" name="password"
                 [(ngModel)]="confirmpassword"
                 #passwordField="ngModel">
        </div>

      </div>
          <button pButton pRipple type="submit" (click)="changepassword(form)">Continue</button>
      </div>
      </form>

    </div>
  </div>

</div>
