<div class="card flex justify-content-center">
  <div class="table-container">
    <mat-card id="content" class="mat-elevation-z8" >
      <mat-card-content>
        <button class="button-addsupplier" mat-raised-button color="primary" (click)="showDialog()">
          <mat-icon>add</mat-icon>
          Add Students
        </button>
        <mat-form-field class="searchBar">
          <input matInput autocomplete="off" #searchbox type="text" name="search" placeholder="Search" (keyup)="applyFilter(searchbox.value)">
          <mat-icon style="color:#1E6602;"  matPrefix>search</mat-icon>
      </mat-form-field>

      </mat-card-content>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="student_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Student Name</th>
          <td mat-cell *matCellDef="let element" class="truncate-cell">{{ element.student_name}}</td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
          <td mat-cell *matCellDef="let element" class="truncate-cell">{{ element.address }}</td>
        </ng-container>

        <ng-container matColumnDef="contact_no">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact No.</th>
          <td mat-cell *matCellDef="let element" class="truncate-cell">{{ element.contact_no}}</td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let element" class="truncate-cell">{{ element.email }}</td>
        </ng-container>

        <ng-container matColumnDef="civil_status">
          <th  mat-header-cell *matHeaderCellDef mat-sort-header>Civil Status</th>
          <td mat-cell *matCellDef="let element" class="truncate-cell">{{ element.civil_status }}</td>
        </ng-container>

        <ng-container matColumnDef="emergency_contact_no">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Emergency Contact No.</th>
          <td mat-cell *matCellDef="let element" class="truncate-cell">{{ element.emergency_contact_no }}</td>
        </ng-container>

        <ng-container matColumnDef="last_school_attended">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Last School Attended</th>
          <td mat-cell *matCellDef="let element" class="truncate-cell">{{ element.last_school_attended }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element" class="truncate-cell">{{ element.status }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedSupplies" class="mat-header-custom"></tr>
        <tr mat-row class="row-hover" *matRowDef="let row; columns: displayedSupplies;" (click)="getStudentDetails(row)"></tr>
      </table>

      <mat-paginator class="mat-paginator" [length]="total" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="pageSize" [pageIndex]="pageNo -1"
              aria-label="Select page" (page)="onPaginate($event)">
      </mat-paginator>
      </mat-card>

    </div>

  <p-dialog class="header" header="Student Information" [draggable]="false" [modal]="true" [(visible)]="visible" [style]="{ width: '75rem', height: '35rem' }">
    <p-stepper>
      <p-stepperPanel header="Student Information">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
      <div class="main-container grid-container">
      <div class="flex-container padding">
      <div>
      <div class="flex-box">
      <div class="flex align-items-center gap-3 mb-3 grid-item">
          <label for="username" class="font-semibold w-6rem">Complete Name(Last, First, M.I)*</label>
          <input [(ngModel)]="completename" pInputText id="username" class="flex-auto" autocomplete="off"/>
      </div>

      <div class="flex align-items-center gap-3 mb-3 address grid-item">
        <label for="address" class="font-semibold w-6rem">Complete Address*</label>
        <input [(ngModel)]="fulladdress" pInputText id="address" class="flex-auto" autocomplete="off" />
    </div>

    <div class="flex-contact flex grid-item">
      <label>Contact No.</label>
    <p-inputMask
    mask="99999999999"
    [(ngModel)]="contactno"
    placeholder="99999999999"/>
  </div>
</div>

  <div class="flex-box">
  <div class="flex align-items-center gap-3 mb-3 grid-item">
    <label for="username" class="font-semibold w-6rem">Email Address*</label>
    <input [(ngModel)]="email" pInputText id="email" class="flex-auto" autocomplete="off" />
  </div>

  <div class="card flex justify-content-center grid-item">
    <label>Civil Status*</label>
    <p-dropdown
        [options]="civilStatusOptions"
        [(ngModel)]="selectedStatus"
        [checkmark]="true"
        class="dropdown-field">
    </p-dropdown>
  </div>

  <div class="flex-contact flex grid-item">
    <label>Emergency Contact</label>
  <p-inputMask
  mask="99999999999"
  [(ngModel)]="emergencycontactno"
  placeholder="99999999999" />
</div>
<br/>
<div class="flex-box">
<div class="flex align-items-center gap-3 mb-3 grid-item">
  <label for="username" class="font-semibold w-6rem">Last School Attended*</label>
  <input [(ngModel)]="schoolattended" pInputText id="schoolattended" class="flex-auto" autocomplete="off"/>
</div>
</div>
</div>
</div>
      </div>

      <div class="flex justify-content-end gap-2 button-container">
          <p-button label="Cancel" class="cancel" severity="secondary" (click)="visible = false" />
          <p-button label="Next" (click)="visible = false" (onClick)="addStudent()"/>
      </div>
    </div>
    </ng-template>
  </p-stepperPanel>

  <!-- <p-stepperPanel header="LIST OF REQUIREMENTS SUBMITTED">
    <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
      <div class="card flex justify-content-center">
        <div class="flex flex-column gap-2">
            <div *ngFor="let category of categories" class="field-checkbox">
                <p-checkbox
                    [(ngModel)]="listOfRequirements"
                    [label]="category.name"
                    name="group"
                    [value]="category" />
            </div>
        </div>
    </div>
    <div class="flex justify-content-end gap-2 button-container">
      <p-button label="Back" class="cancel" severity="secondary" (click)="visible = false" (onClick)="prevCallback.emit()"/>
      <p-button label="Next" (click)="visible = false" (onClick)="nextCallback.emit()"/>
  </div>
    </ng-template>
  </p-stepperPanel> -->

  <p-stepperPanel header="Done">
    <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">

    </ng-template>
  </p-stepperPanel>

  </p-stepper>
  </p-dialog>
</div>
