

.flex{
  display: flex;
  flex-direction: column;
}

.table-container{
  width: 71rem;
}

.dropdown-field {
  width: 250px; /* Adjust the width as needed */
}

.error-message {
  color: red;
  font-size: 0.575em;
}

::ng-deep .p-dropdown {
  display: inline-flex;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
}

.flex-box{
  display: flex;
  align-items: baseline;
}

::ng-deep .p-datatable-table {
  border-spacing: 0px;
  width: 100%;
  min-width: 50rem;
  padding-top: 1%;
  font-size: 12px;
}

::ng-deep .p-sortable-column {
  position: relative;
}

::ng-deep .p-sortable-column .p-sortable-column-icon {
  display: none;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

::ng-deep .p-sortable-column:hover .p-sortable-column-icon,
.p-sortable-column.p-highlight .p-sortable-column-icon {
  display: inline-block;
}

::ng-deep .p-toolbars{
  width: 100%;
  padding-top: 2%;
  background: none;
  border: none;
  padding: 0;
}

::ng-deep .mat-elevation-z8{
  width: 75rem;
}

::ng-deep .p-toolbar {
  border-radius: 6px;
  gap: 0.5rem;
}

::ng-deep #toolbar{
  background: none;
  border: none;
  padding: 0;
}

::ng-deep .p-toolbar.p-component {
  background: none;
  border: none;
  padding: 0;
}

.card{
  display: flex;
  align-items: baseline;
  flex-direction: row;
  width: 100%;
}

.flex-container{
  display: flex;
  padding-bottom: 5%;
}

::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
  margin-right: 0;
  color: white;
}

::ng-deep .p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
  color: white;
  border-color: transparent;
  background: black;
}

.main-container{
  padding: 0%;
    padding-left: 5%;
}

.female{
  padding-left: 100%;
}

.width{
  width: 21%;
}

/* .mb-3{
  width: 35%;
} */

.flex-row{
  display: flex;
  flex-direction: row;
}

.address{
  width: 74%;
}

.button-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding-top: 1%;
}

.cancel{
  position: relative;
  right: 2%;
}

.header{
  background-color: cornflowerblue;
  color: white;
}

p-checkbox {
  display: inline-flex;
  vertical-align: bottom;
  align-items: center;
  padding: 2%;
}

::ng-deep .p-checkbox-label {
  line-height: 1;
  font-size: 20px;
}

::ng-deep .p-dialog .p-dialog-header {
  background-color: cornflowerblue;
  color: white;
}


.flex-auto{
  display: flex;
  flex-direction: column;
}

.container-for-sex{
  display: flex;
  width: 30%;
}

.flex-direction{
  display: flex;
  flex-direction: column;
}

.flex-contact{
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.grid-item {
  display: flex;
  flex-direction: column;
  padding-left: 1%;
  padding-top: 3%;
}

.input-field {
  margin-top: 0.5rem;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  grid-column: span 4;
}

/* Updated CSS for the table and card */
#content {
  width: 95%;
  /* height: 95%; */
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  border-radius: 10px;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 100px;
}

.row-hover:hover{
  background-color: #EEEEEE;
  color: black;
  cursor: pointer;
}

.search-container {
  position: relative;
  display: inline-block;
}

.school-attended{
  padding-left: 4%;
}

.button-search-container{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.p-row{
  cursor: pointer;
}

.p-row:hover{
  background-color: #EEEEEE;

}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust this value to position the icon horizontally */
  transform: translateY(-50%);
  pointer-events: none; /* Prevents the icon from blocking clicks on the input */
}

.search-container input {
  padding-right: 30px; /* Adjust this value to prevent the text from overlapping the icon */
}

/* Optional: Add some basic styling for the icon */
.search-icon::before {
  content: '\1F50D'; /* Unicode for a magnifying glass icon */
  font-size: 16px; /* Adjust the font size to your liking */
}

::ng-deep .p-dropdown-items-wrapper {
  overflow: auto;
  max-height: 140px;
}


@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

