<div class="container">

  <div class="login-form">
    <div class="close-container">
      <span class="close" (click)="closeDialog()">Close</span>
    </div>
    <div class="image-container">
      <img src="../assets/EITSI Inc. 1563x1563.png" alt="SpeedyBarakoLogo" class="speedyb-logo">
  </div>
      <h2 class="h1-style">CHANGE PASSWORD</h2>
      <p-toast></p-toast>

    <form (ngSubmit)="form" #form="ngForm">

    <div class="card-flex justify-content-center">
      <div class="flex flex-column gap-2">
        <label for="oldPassword">Old Password</label>
        <p-password
          pTooltip="Enter your new password"
          tooltipPosition="top"
          tooltipEvent="focus"
          id="oldPassword"
          name="oldPassword"
          [(ngModel)]="oldPassword"
          required
          [feedback]="false"
          [toggleMask]="true"
        ></p-password>
      </div>

      <div class="flex flex-column gap-2">
        <label for="newPassword">New Password</label>
        <p-password
          pTooltip="Enter your new password"
          tooltipPosition="top"
          tooltipEvent="focus"
          id="newPassword"
          name="newPassword"
          weakLabel="Too simple"
          mediumLabel="Average complexity"
          strongLabel="Complex password"
          [(ngModel)]="newPassword"
          [feedback]="true"
          [toggleMask]="true"
          strongRegex="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{8,})">
    </p-password>
      </div>

      <div class="flex flex-column gap-2 confirm" id="confirm-pass">
        <label for="confirmPassword">Confirm New Password</label>
        <p-password
          pTooltip="Confirm Password"
          tooltipPosition="top"
          tooltipEvent="focus"
          id="confirmPassword"
          name="confirmPassword"
          [(ngModel)]="confirmpassword"
          [feedback]="false"
          [toggleMask]="true"
        ></p-password>
       <div class="confirm-bottom">
         <button pButton pRipple type="submit" (click)="changePassword(form)">Continue</button>
        </div>
        </div>
      </div>
      </form>

    </div>
  <!-- </div> -->

</div>
