<div class="dashboard-container">
  <div class="total-students-container">
    <h2 class="h2-style">Total Number of Students: </h2>
    <h1 class="h1-style">
      <ng-container *ngIf="isLoadingTotal; else totalData">
        <div class="spinner"></div> <!-- Add your spinner here -->
      </ng-container>
      <ng-template #totalData>{{ total }}</ng-template>
    </h1>
  </div>

  <div class="chart1-container">
    <ng-container *ngIf="isLoadingLastSchool; else chart1">
      <div class="spinner"></div> <!-- Add your spinner here -->
    </ng-container>
    <ng-template #chart1>
      <p-chart type="pie" [data]="chartData" [options]="chartOptions" style="width: 50%;"></p-chart>
    </ng-template>
  </div>

  <div class="chart2-container">
    <ng-container *ngIf="isLoadingCivilStatus; else chart2">
      <div class="spinner"></div> <!-- Add your spinner here -->
    </ng-container>
    <ng-template #chart2>
      <p-chart type="pie" [data]="civilStatusData" [options]="chartOptions" style="width: 50%;"></p-chart>
    </ng-template>
  </div>

  <div class="chart3-container">
    <ng-container *ngIf="isLoadingAddress; else chart3">
      <div class="spinner"></div> <!-- Add your spinner here -->
    </ng-container>
    <ng-template #chart3>
      <p-chart type="pie" [data]="addressData" [options]="chartOptions" style="width: 50%;"></p-chart>
    </ng-template>
  </div>

  <div class="dashboard">
    <h1>Registered Students Dates</h1>
    <div class="chart-container">
      <p-chart type="line" [data]="registrationChartData" [options]="chartOptions"></p-chart>
    </div>
  </div>
</div>
