.dashboard-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  padding: 4%;
  padding-bottom: 5%;
  width: 74rem;
  height: 60rem;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.h2-style{
  font-size: 25px;
  font-family: 'Inter var';
}

.h1-style{
  font-size: 75px;
  font-family: "Inter var";
  font-weight: 900;
  padding: 0;
  margin: 0;
}

.total-students-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 2%;
    /* box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 5px;
    top: 15%;
    width: 100%;
    border: 6px solid black
}

.chart1-container{
  position: relative;
  top: 19%;
  right: 0%;
}

.chart2-container{
  position: relative;
  bottom: 15%;
  left: 39%;
}

.chart3-container{
  position: relative;
  bottom: 50%;
  right: 38%;
}

.dashboard{
  position: relative;
  bottom: 45%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 0;
}

.chart-container{
  width: 100%;
}

h1{
  font-size: 20px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




