<div class="container">

  <div class="left-container">
      <div class="image-container">
          <img src="../assets/EITSI Inc. 1563x1563.png" alt="SpeedyBarakoLogo" class="speedyb-logo">
      </div>
  </div>

  <div class="right-container">
      <div class="login-form">

        <h1>Forgot Password</h1>
        <form (ngSubmit)="form" #form="ngForm">

        <ng-container *ngIf="currentStep === 'username'">
        <div class="card-flex justify-content-center">
          <div class="flex flex-column gap-2">
              <label for="username">Username</label>
              <input pTooltip="Enter your username"
                     tooltipPosition="top"
                     tooltipEvent="focus"
                     pInputText aria-describedby="username-help"
                     type="text"
                     id="username"
                     name="username"
                     ngModel [(ngModel)]="username"
                     required>
          </div>
          <div id="button-container">
              <button id="continue-button" severity="success" pButton pRipple type="submit" (click)="handleResetPassword()">Continue</button>
              <button id="cancel-button" severity="danger" pButton pRipple type="submit" (click)="backToLogin()">Cancel</button>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="currentStep === 'confirmationCode'">
          <div class="card flex justify-content-center">
            <div class="flex flex-column gap-2" id="confirm-code">
              <p class="p-message">A confirmation code has been sent to your email.</p>
              <label for="confirmationCode">Confirmation Code</label>
              <!-- <input type="text" id="confirmationCode" [(ngModel)]="confirmationCode" pInputText /> -->
              <p-inputOtp id="confirmationCode" [(ngModel)]="confirmationCode" [integerOnly]="true" [length]="6" />
            </div>
            <div class="flex justify-content-end gap-2 button-container" id="button-container">
              <button id="continue-button" pButton pRipple type="submit" [disabled]="!confirmationCode">Next</button>
              <button id="cancel-button" pButton pRipple type="submit" (click)="currentStep = 'username'">Back</button>
              <!-- <p-button label="Back" class="cancel" severity="secondary" (click)="currentStep = 'username'">Back</p-button> -->
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="currentStep === 'newPassword'">
          <div class="flex flex-column gap-2" id="confirm-pass">
            <label for="newPassword">New Password</label>
            <div class="password-container">
              <input pTooltip="Confirm Password" tooltipPosition="top" tooltipEvent="focus" pInputText type="password"
                     id="newPassword" name="newPassword" [(ngModel)]="newPassword" />
            </div>

            <label for="confirmPassword">Confirm New Password</label>
            <div class="password-container">
              <input pTooltip="Confirm Password" tooltipPosition="top" tooltipEvent="focus" pInputText type="password"
                     id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmpassword" />
            </div>
            <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
          </div>
        </ng-container>
        </form>

      </div>
  </div>

</div>

<!--
<div class="forgot-pass-container">
    <div>
    <ng-container *ngIf="currentStep === 'username'">
    <div class="main-container grid-container">
      <div class="flex-container padding">
        <div class="flex-box">
          <div class="flex align-items-center gap-3 mb-3 grid-item">
            <label for="username" class="font-semibold w-6rem">Username</label>
            <input [(ngModel)]="username" pInputText id="username" class="flex-auto" autocomplete="off"/>
          </div>
        </div>
      </div>
      <div class="flex justify-content-end gap-2 button-container">
        <p-button label="Cancel" class="cancel" severity="secondary" (click)="visible = false" />
        <p-button label="Next" (click)="handleResetPassword()" [disabled]="!username">Next</p-button>
      </div>
    </div>
  </ng-container>
</div>

  <ng-container *ngIf="currentStep === 'confirmationCode'">
    <div class="card flex justify-content-center">
      <div class="flex flex-column gap-2">
        <label for="confirmationCode">Confirmation Code</label>
        <input type="text" id="confirmationCode" [(ngModel)]="confirmationCode" pInputText />
      </div>
      <div class="flex justify-content-end gap-2 button-container">
        <p-button label="Back" class="cancel" severity="secondary" (click)="currentStep = 'username'">Back</p-button>
        <p-button label="Next" [disabled]="!confirmationCode">Next</p-button>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="currentStep === 'newPassword'">
    <div class="flex flex-column gap-2" id="confirm-pass">
      <label for="newPassword">New Password</label>
      <div class="password-container">
        <input pTooltip="Confirm Password" tooltipPosition="top" tooltipEvent="focus" pInputText type="password"
               id="newPassword" name="newPassword" [(ngModel)]="newPassword" />
      </div>

      <label for="confirmPassword">Confirm New Password</label>
      <div class="password-container">
        <input pTooltip="Confirm Password" tooltipPosition="top" tooltipEvent="focus" pInputText type="password"
               id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmpassword" />
      </div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </div>
  </ng-container> -->
<!-- </div> -->
